@import '@/styles/variables.scss';

.pageWrapper {
  background: #f7fafc;
  width: 100%;
  height: 100vh;
  padding: 50px;

  >.cardWrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0 10 15 hsla(0, 0%, 0%, 0.05);
    column-gap: 30px;
    row-gap: 30px;

    >.card {
      background: white;
      padding: 18.06px;
      border-radius: 9.03px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      >.header {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
      }

      >.body {
        >.pieChart {
          width: 200px;
          height: 200px;
          border-radius: 100%;
        }

        >.legendRow {
          display: flex;
          justify-content: space-evenly;

          >.legendItem {
            >.legendColor {
              width: 18px;
              height: 18px;
              border-radius: 100%;
              margin: auto;
            }

            >.legendLabel {
              text-align: center;
            }
          }
        }

        >.table {
          width: 100%;
          border-radius: 9.03px;
          border: 1px solid rgba(0, 0, 0, 0.1);

          >.header {
            line-height: 30px;
            vertical-align: middle;
            text-align: left;

            >.headerItem {}
          }

          >.row {
            line-height: 30px;
            vertical-align: middle;

            >.bodyItem {
              &.positive {
                color: $green;
              }

              &.negative {
                color: $red;
              }
            }
          }
        }
      }
    }
  }
}